.vkedit-editor {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--vkedit-color-white);

  &__main {
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
    width: 100%;
  }
}
