.vkedit-property-panel {
  flex: 0 0 25%;
  min-width: 176px;
  border-left: 1px solid var(--vkedit-color-border);
  padding: var(--vkedit-spacing-md);
  background: var(--vkedit-color-white);
  overflow: auto;

  &__title {
    font-size: var(--vkedit-font-size-xl);
    font-weight: var(--vkedit-font-weight-bold);
    padding-bottom: var(--vkedit-spacing-sm);
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--vkedit-spacing-md);
  }
}
