.vkedit-toolbox {
  flex: 0 0 16.666%;
  min-width: 160px;
  border-right: 1px solid var(--vkedit-color-border);
  overflow: auto;

  &__title {
    text-align: center;
    padding: var(--vkedit-spacing-sm) 0;
    border-bottom: 1px solid var(--vkedit-color-border);
  }
}

@media (min-width: 1280px) {
  .vkedit-toolbox {
    flex-basis: 16.666%;
  }
}
