.vkedit-btn-group {
  display: flex;
  align-items: stretch;
  gap: var(--vkedit-toolbar-gap);
  width: fit-content;

  > .vkedit-btn {
    border: var(--vkedit-border-width) solid var(--vkedit-color-border);
    border-radius: var(--vkedit-radius-md);
  }
}
