// ====== ui/label.scss ======

.vkedit-label {
  font-size: var(--vkedit-font-size-sm);
  font-weight: var(--vkedit-font-weight-medium);
  line-height: 1;
  margin-bottom: var(--vkedit-spacing-xs);
}
